.App {
  text-align: center;
}

ul {
  list-style: none;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 20vh;
  background-color: rgb(127, 221, 255);
  color: rgb(255, 254, 254);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.shopList {
  background-color: rgb(245, 242, 239);
  align-items: center;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(32, 159, 198);
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 90, 90);
  color: white;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.contactForm {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 80px;
}

.footer li {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .shopList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 241, 237);
    max-width: 400px;
    height: auto;
    padding: 5rem;
  }
  .productPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 227, 217);
  }
  .navBar {
    width: 100%;
  }
  .responsive {
    width: 30%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .responsive {
    width: 150px;
    height: auto;
  }
  .shopList {
    font-size: small;
  }
}
